@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    @apply font-avertaCY;
  }

  body {
    @apply bg-white text-[#111111];
  }

  @font-face {
    font-family: Averta;
    src: url("../fonts/averta-regular.otf");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: Averta;
    src: url("../fonts/averta-bold.otf");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: Averta;
    src: url("../fonts/averta-black.otf");
    font-weight: 900;
    font-display: swap;
  }

  input,
  textarea select,
  button {
    @apply outline-0;
  }

  h2 {
    @apply font-bold text-3xl md:text-5xl;
  }

  p {
    @apply text-lg md:text-xl;
  }

  button {
    @apply font-medium text-white;
  }

  .experience-overflow{
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  .experience-overflow::-webkit-scrollbar{
    display: none;
  }


  .width-fill-available {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
  }

  ::-webkit-scrollbar {
    width: 8px;
    max-height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #111111; 
    border-radius: 10px;    
    margin-right: 5px;
  }

  scrollbar-width{
    width: thin;
  }
  

}

@layer utilities {
  /* Rows */
  .inline-start {
    @apply inline-flex items-center justify-start;
  }

  .inline-center {
    @apply inline-flex items-center justify-center;
  }

  .inline-end {
    @apply inline-flex items-center justify-end;
  }

  .inline-between {
    @apply inline-flex items-center justify-between;
  }

  .inline-evenly {
    @apply inline-flex items-center justify-evenly;
  }

  .start {
    @apply flex items-center justify-start;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .end {
    @apply flex items-center justify-end;
  }

  .between {
    @apply flex flex-row items-center justify-between;
  }

  .evenly {
    @apply flex items-center justify-evenly;
  }

  /* Cols */
  .col-start {
    @apply flex flex-col items-start justify-center;
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }

  .col-end {
    @apply flex flex-col items-end justify-center;
  }

  .col-between {
    @apply flex flex-col items-start justify-between;
  }
}
